@font-face {
  font-family: Inter;
  src: url("./Inter-VariableFont_slnt\,wght.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Inter-Bold;
  src: url("./Inter-VariableFont_slnt\,wght.ttf");
  font-weight: bold;
}

.genre-content {
  background-color: #2e2c2c;
}

.game-list {
  margin-top: 20vh;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2vh;
  overflow-x: scroll;
  overflow-y: hidden;
}

#genre-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#image {
  width: 50vh;
  height: auto;
}

#info > h3 {
  text-align: center;
}

.upper {
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding: 4vh;
}

.card {
  background-color: #c3c3c3;
  width: 40vh;
  height: 60vh;
  box-shadow: 0 4px 8px 0 white;
  transition: 0.3s;
  border-radius: 40px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.description-article {
  width: 130vmin;
}

.genre-list {
  background-color: black;
}

.genre-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-x: hidden;
}

.genre-list > h1 {
  margin: 0;
  color: white;
  text-align: center;
  padding: 5vh;
}

.centered-text {
  color: white;
  text-align: center;
  margin: 0;
}

.genre-img > div {
  display: grid;
  place-content: center;
}

.genreImg {
  opacity: 50;
  width: 40em;
  height: auto;
  padding-bottom: 5vh;
  transition: 1s;
}

.genreImg:hover {
  opacity: 100;
}

.flex > h1 {
  font-size: 2.5vmin;
  font-family: Inter;
  color: white;
  display: grid;
  place-content: center;
}

.article-content > div > p > a {
  margin: 0;
  color: white;
}

.redirect {
  width: 100vw;
  height: 100vh;
  font-family: Inter-Bold;
  display: grid;
  place-content: center;
  background-color: #1c1b1b;
  color: white;
  font-size: 2.5vh;
}

.like-button {
  background-color: transparent;
  color: red;
  border: none;
  cursor: pointer;
}

.article-img {
  height: auto;
  width: 60vw;
  align-self: center;
}

h1.article-title {
  font-size: 600%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: center;
  background-color: #3e3e3e;
  width: 100vw;
}

p.article-release {
  font-size: 150%;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.article-content {
  width: 100vw;
  height: 100vh;
  background-color: #1c1b1b;
  color: white;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.article-description {
  margin-bottom: 3%;
}

.description-article {
  font-family: Inter-Bold;
  padding-bottom: 3%;
}

button.like-button {
  width: 100%;
}

.add-to-library {
  text-align: center;
  font-size: 70%;
}

.home-image {
  align-self: end;
}

.nav,
.user-buttons {
  width: 100%;
  background-size: cover;
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 6vmin;
  /*position: sticky;
  top: 0px;*/
}

.nav {
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.signIn-btn > img,
#user-page-link > img {
  border-radius: 50%;
  height: 4vmin;
}

.signIn-btn > img {
  background-color: #3e3e3e;
}

.signIn {
  height: 100%;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: flex-end;
}

.gz {
  font-size: 2.5rem;
  margin: 2vw;
}

.signIn-btn,
.signOut-btn {
  /*background-color: #313131;*/
  border: none;
  /*border-radius: 20%;*/
  align-items: center;
  background: transparent;
}

.signOut-btn {
  width: 16vmin;
}

.signIn-btn {
  width: 20vmin;
  height: 6vmin;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: center;
}

.user-info > img {
  width: 17vmin;
  border-radius: 50%;
  margin: 7vmin 0 0 0;
}

.user-info > h1 {
  margin: 3vmin 0 7vmin 0;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-button {
  background-color: #3e3e3e;
  font-family: Inter;
  font-size: 1.5vmin;
  color: #c3c3c3;
  border: none;
  text-align: center;
  width: 25vw;
  height: 3vmin;
  border-radius: 0.9vh;
  margin-left: 4vh;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  margin-left: 4vw;
}

.link,
.signIn-btn > p,
.signOut-btn > p {
  color: #c3c3c3;
  font-size: 2vmin;
  font-family: Inter;
}

.link:focus {
  color: white;
  padding-bottom: 1.2vh;
  border-bottom: 0.3vh solid red;
}

.home {
  width: 100%;
  height: 96vmin;
  background-color: #1c1b1b;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
}

.bold-title {
  font-family: Inter-Bold;
  font-size: 8.66vh;
  line-height: 77.45px;
  margin: 0;
}

.bold {
  font-family: Inter-Bold;
}

.content {
  font-family: Inter;
  color: #c3c3c3;
  width: fit-content;
  padding-left: 30vh;
}

.red-subtext {
  color: #ff0000;
  font-family: Inter-Bold;
  font-size: 2.7vh;
}

.goty {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
}

.gotys {
  color: #111235;
  font-family: Inter;
  font-size: 8.66vh;
  margin-left: 14.9vh;
  text-transform: uppercase;
  overflow-y: scroll;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 7vh 15.5vh 0 15.5vh;
}

.images > img {
  float: left;
  width: 368px;
  height: 448px;
  object-fit: cover;
  margin-bottom: 2vh;
}

.cover-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2ch;
  row-gap: 2ch;
  justify-content: space-evenly;
}

.cover-images > img {
  width: 100%;
  height: 100%;
}

.red {
  color: #ff0000;
}

.descriptor {
  width: 100%;
  height: 100vh;
  background-color: #111235;
}

.analytics-subtitle {
  color: white;
  font-family: Inter;
  font-size: 2.4vh;
  width: 55.4vh;
  margin: 0;
}

.main-footer {
  display: grid;
  grid-row: repeat(2, 1fr);
}

.top-portion {
  height: fit-content;
  color: white;
  font-size: 4vh;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  justify-content: center;
  align-items: center;
}

.top-portion > button {
  border: 8px solid white;
  font-family: Inter-Bold;
  font-size: 4.9vh;
  color: white;
  background-color: transparent;
  cursor: pointer;
  height: 12.9vh;
  width: 54vh;
}

.bottom-portion {
  background-color: #111235;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
}

.grey {
  color: #c3c3c3;
}

.white {
  color: white;
}

.info-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.descriptor-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 18vh;
  margin-bottom: 0;
}

.analytics-title {
  margin-top: 0;
  color: white;
  font-family: Inter-Bold;
  font-size: 3vh;
  line-height: 5vh;
}

.footer {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-row: repeat(2, 1fr);
  background-color: #ff5353;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4vh;
}

.buttons > button {
  border-radius: 0 5px 5px 5px;
  border: none;
  cursor: pointer;
  height: 4vh;
  width: 15vh;
  margin-top: 6vh;
  font-family: Inter-Bold;
}

.about-button {
  background-color: #d9d9d9;
  color: #000;
}

.started-button {
  color: #fff;
  background-color: #ff0000;
}

.results {
  display: absolute;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  margin: 0;
}

.expand-button {
  display: none;
  background: transparent;
  border: none;
}

.find-game-button {
  margin: 4vh 0 0 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #558759fa;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  height: 6vmin;
  width: 20vmin;
  font-family: Inter;
  font-size: 1.8vmin;
  color: rgb(240, 235, 228);
}

.results > h1 {
  margin: 0;
}

.result-article {
  color: purple;
  height: 100vh;
  width: 100vw;
}

.list-item {
  color: white;
  padding-left: 2.9vh;
  border-left: thick solid #ff0000;
}

.my-games {
  background-color: #2e2c2c;
  text-align: center;
  min-height: 65vh;
  color: rgb(240, 230, 217);
  font-size: 2vmin;
}

.my-games > h2 {
  margin: 0;
  padding: 7vmin 0 7vmin 0;
}

.liked-games {
  padding: 0 5vmin 5vmin 5vmin;
}

#no-games-msg {
  padding-top: 5vmin;
}

.user-buttons {
  justify-content: flex-end;
  align-items: center;
}

.user-page {
  font-size: 1.7vmin;
  color: #1c1b1b;
  min-height: 97.5vh;
  background-color: rgb(240, 230, 217);
}

.black {
  color: black;
}

.about-page {
  background-color: #1c1b1b;
  height: 100vh;
  display: grid;
  text-align: center;
}

.team {
  margin-top: 10vh;
  margin-bottom: 4vh;
}

.about-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1200px) {
  .game-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    overflow-y: scroll;
  }

  .genre-list {
    display: grid;
    place-content: center;
  }

  .home-image {
    display: none;
  }

  div.home {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .game-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    width: 80vw;
  }

  .about-page {
    height: 100%;
  }

  .about-info {
    grid-template-columns: repeat(2, 1fr);
  }

  .expand-button {
    display: inline-flex;
    padding: 2vh;
  }

  div.nav {
    display: flex;
    place-content: center;
    place-items: center;
  }

  div.nav.navArea {
    display: none;
  }

  .signIn > div > a.link {
    margin: 0;
  }

  .signIn {
    align-items: center;
    justify-content: center;
  }

  .images {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }

  .signIn-btn,
  .signOut-btn {
    grid-template-columns: repeat(1, 1fr);
    width: 20vw;
  }

  div.content {
    padding: 0;
  }

  .signIn-btn > h2 {
    margin: 0;
  }

  .signIn-btn > img {
    display: none;
  }

  div.descriptor-page {
    grid-template-columns: repeat(1, 1fr);
    padding: 5vh;
    place-items: center;
  }
}

@media screen and (max-width: 540px) {
  div.card {
    width: 80vw;
    height: 30vh;
  }

  #image {
    width: 20vh;
  }

  .game-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2vh;
    overflow-y: scroll;
  }

  .card {
    width: 50vh;
  }

  .genreImg {
    width: 20em;
  }

  .about-info {
    grid-template-columns: repeat(1, 1fr);
  }

  .top-portion {
    font-size: 2vh;
  }
  .gz {
    font-size: 2vh;
  }

  .new-you > h2 {
    font-size: 2vh;
  }

  .gotys {
    font-size: 2vh;
  }

  .images > img {
    width: 200px;
    height: auto;
    margin: 0;
  }

  .analytics-title {
    font-size: 2vh;
  }

  .analytics-subtitle {
    font-size: 1vh;
    width: auto;
  }

  .top-portion > button {
    font-size: 3vh;
    color: white;
    height: 8vh;
    width: 33vh;
  }

  .list-item > p {
    font-size: 2vh;
  }
}
