@font-face {
  font-family: Inter;
  src: url("./Inter-VariableFont_slnt\,wght.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Inter-Bold;
  src: url("./Inter-VariableFont_slnt\,wght.ttf");
  font-weight: bold;
}

.home-image {
  align-self: end;
}

.nav,
.userInfo {
  width: 100%;
  background-size: cover;
  background-color: black;
  display: flex;
  flex-direction: row;
}

.nav {
  justify-content: flex-start;
  gap: 5vh;
  height: 14.2vh;
  align-items: center;
}

.signIn {
  height: 100%;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: flex-end;
}

.gz {
  font-size: 2.5rem;
  margin: 20px;
}

.signIn-btn,
.signOut-btn {
  background-color: #313131;
  border: none;
  color: #848484;
  align-items: center;
  font-family: Inter-Bold;
}

.signOut-btn {
  width: 25vh;
  height: 100%;
}

.signIn-btn {
  width: 39vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.signIn-btn > h2,
.signOut-btn > h2 {
  font-size: 4.712vh;
}

.signIn-btn > h2 {
  margin-right: 3vh;
}

.signIn-btn > img {
  width: 15vh;
  height: auto;
}

.profile > img {
  width: 20vh;
  height: auto;
  border-radius: 50%;
  margin: 5vh 0 0 10vh;
}

.profile > h1 {
  margin: 2vh 0 5vh 10vh;
}

#user-page-link > img {
  width: 14.2vh;
}

.search-button {
  background-color: #3e3e3e;
  font-family: Inter-Bold;
  font-size: 20px;
  color: #c3c3c3;
  border: none;
  text-align: center;
  width: 34vh;
  height: 6.4vh;
  border-radius: 0.9vh;
  margin-left: 4vh;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  margin-left: 4vh;
}

.link {
  color: #c3c3c3;
  font-size: 3.3vh;
  font-family: Inter-Bold;
}

.link:focus {
  color: white;
  padding-bottom: 4vh;
  border-bottom: 5px solid red;
}

.home {
  width: 100%;
  height: 85.8vh;
  background-color: #1c1b1b;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
}

.bold-title {
  font-family: Inter-Bold;
  font-size: 8.66vh;
  line-height: 77.45px;
  margin: 0;
}

.bold {
  font-family: Inter-Bold;
}

.content {
  font-family: Inter;
  color: #c3c3c3;
  width: fit-content;
  padding-left: 30vh;
}

.red-subtext {
  color: #ff0000;
  font-family: Inter-Bold;
  font-size: 2.7vh;
}

.goty {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #fff;
}

.gotys {
  color: #111235;
  font-family: Inter;
  font-size: 8.66vh;
  margin-left: 14.9vh;
  text-transform: uppercase;
  overflow-y: scroll;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 7vh 15.5vh 0 15.5vh;
}

.images > img {
  float: left;
  width: 368px;
  height: 448px;
  object-fit: cover;
  margin-bottom: 2vh;
}

.red {
  color: #ff0000;
}

.descriptor {
  width: 100%;
  height: 100vh;
  background-color: #111235;
}

.analytics-subtitle {
  color: white;
  font-family: Inter;
  font-size: 2.4vh;
  width: 55.4vh;
  margin: 0;
}

.main-footer {
  display: grid;
  grid-row: repeat(2, 1fr);
}

.top-portion {
  height: fit-content;
  color: white;
  font-size: 4vh;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  justify-content: center;
  align-items: center;
}

.top-portion > button {
  border: 8px solid white;
  font-family: Inter-Bold;
  font-size: 4.9vh;
  color: white;
  background-color: transparent;
  cursor: pointer;
  height: 12.9vh;
  width: 54vh;
}

.bottom-portion {
  background-color: #111235;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
}

.grey {
  color: #c3c3c3;
}

.white {
  color: white;
}

.info-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.descriptor-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 18vh;
  margin-bottom: 0;
}

.analytics-title {
  margin-top: 0;
  color: white;
  font-family: Inter-Bold;
  font-size: 3vh;
  line-height: 5vh;
}

.footer {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-row: repeat(2, 1fr);
  background-color: #ff5353;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4vh;
}

.buttons > button {
  border-radius: 0 5px 5px 5px;
  border: none;
  cursor: pointer;
  height: 4vh;
  width: 15vh;
  margin-top: 6vh;
  font-family: Inter-Bold;
}

.about-button {
  background-color: #d9d9d9;
  color: #000;
}

.started-button {
  color: #fff;
  background-color: #ff0000;
}

.results {
  display: absolute;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  margin: 0;
}

.expand-button {
  display: none;
  background: transparent;
  border: none;
}

.results > h1 {
  margin: 0;
}

.result-article {
  color: purple;
  height: 100vh;
  width: 100vw;
}

.list-item {
  color: white;
  padding-left: 2.9vh;
  border-left: thick solid #ff0000;
}

.my-games {
  background-color: #2e2c2c;
  color: rgb(240, 230, 217);
}

.my-games > h1 {
  margin: 0;
  padding: 5vh 0 0 10vh;
}

.userInfo {
  justify-content: flex-end;
  height: 14.2vh;
}

.user-page {
  font-size: 2vh;
  background-color: rgb(240, 230, 217);
  /*text-transform: uppercase;*/
}

@media screen and (max-width: 1200px) {
  .home-image {
    display: none;
  }

  div.home {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .expand-button {
    display: inline-flex;
    padding: 3vh;
  }

  div.nav {
    display: flex;
    place-content: center;
    place-items: center;
  }

  div.nav.navArea {
    display: none;
  }

  .signIn > div > a.link {
    margin: 0;
  }

  .signIn {
    align-items: center;
    justify-content: center;
  }

  .images {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }

  .signIn-btn,
  .signOut-btn {
    grid-template-columns: repeat(1, 1fr);
    width: 20vw;
  }

  div.content {
    padding: 0;
  }

  .signIn-btn > h2 {
    margin: 0;
  }

  .signIn-btn > img {
    display: none;
  }

  div.descriptor-page {
    grid-template-columns: repeat(1, 1fr);
    padding: 5vh;
    place-items: center;
  }
}

@media screen and (max-width: 540px) {
  .top-portion {
    font-size: 2vh;
  }
  .gz {
    font-size: 2vh;
  }

  .new-you > h2 {
    font-size: 2vh;
  }

  .gotys {
    font-size: 2vh;
  }

  .images > img {
    width: 200px;
    height: auto;
    margin: 0;
  }

  .analytics-title {
    font-size: 2vh;
  }

  .analytics-subtitle {
    font-size: 1vh;
    width: auto;
  }

  .top-portion > button {
    font-size: 3vh;
    color: white;
    height: 8vh;
    width: 33vh;
  }

  .list-item > p {
    font-size: 2vh;
  }
}
