@font-face {
  font-family: Inter;
  src: url("./Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: Inter-Bold;
  src: url("./Inter-VariableFont_slnt\,wght.ttf");
  font-weight: bold;
}

.home-page {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-snap-points-y: repeat(100vh);
}

.home-page > div {
  scroll-snap-align: start;
}

.nav {
  width: 100%;
  height: 14.2vh;
  background-color: black;
}

.home {
  width: 100%;
  height: 85.8vh;
  background-color: #1c1b1b;
  display: grid;
  grid-column: repeat(2, 1fr);
  align-items: center;
}

.content {
  font-family: Inter;
  color: #c3c3c3;
}

.red-subtext {
  color: #ff0000;
  font-family: Inter-Bold;
  font-size: 2.7vh;
}

.goty {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #111235;
}

.footer {
  display: grid;
  grid-row: repeat(2, 1fr);
}
